<!DOCTYPE html>
<html>
<head>
  <title>Supatagu</title>
  <%= stylesheet_link_tag    "supatagu/application", media: "all" %>
  <%= javascript_include_tag "supatagu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
